<p id="notice"><%= notice %></p>

<h1>Dungeon <span class="label label-success">BETA</span></h1>


<ul class="dungeon nav nav-tabs">
  <li role="presentation" id="normal" class="active"><a href="#">Normal</a></li>
  <li role="presentation" id="technical"><a href="#">Technical</a></li>
  <li role="presentation" id="special"><a href="#">Special</a></li>
  <li role="presentation" id="multiplayer"><a href="#">Multiplayer</a></li>
</ul>

<% @all_dungeons.each do |key, value| %>
	<% value.each do |dg| %>
		<div class="dungeon" id="<%= key %>">
			<% if dg.dungeons.count > 0 %>
				<div class="page-header news">
					<h1><small><%= dg.name %></small></h1>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
						  <th>Dungeon Name</th>
						  <th>Stamina</th>
						  <th>Floors</th>
						  <th>Coin</th>
						  <th>Exp</th>
						  <th colspan="3"></th>
						</tr>
					</thead>
					<tbody>
						<% dg.dungeons.order(id: :desc).each do |dungeon| %>
							<tr>
								<td><%= link_to dungeon.name, dungeon %></td>
								<td><%= dungeon.stamina %></td>
								<td><%= dungeon.floors %></td>
								<td><%= dungeon.coins %></td>
								<td><%= dungeon.exp %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
		</div>
	<% end %>
<% end %>



<br>

<%= link_to 'New Dungeon', new_dungeon_path %>
