<div class="center center-text">
	<h1>Search Monsters</h1>
</div>


<div class="body-search large_monster_input center ">
	<p><input id="monster_field" class="monster typeahead main form-control center" type="text" placeholder="Monster Name"></p>
</div>

<div class="front-page wrapper">
	<div class="front-page section">
		<%= render partial: 'monsters/index/fp1' %>
	</div>
	<div class="front-page section">
		<%= render partial: 'monsters/index/fp2' %>
	</div>
	<div class="front-page section">
		<%= render partial: 'monsters/index/fp3' %>
	</div>
</div>






<!--
<div>
	<table class="center">
		<tr>
			<% count=0 %>
			<% @monsters.each do |monster| %>
				<td><%= link_to image_tag("http://padherder.com" + monster["image60_href"]	, :border => 0,  :title => monster["id"].to_s + ". " + monster["name"]),	 monster_path(monster["id"]) %></td>
				<% count = count + 1 %>
				<% if count % 15 == 0 %>
					</tr><tr>
				<% end %>
			<% end %>
		</tr>
	</table>
</div>

<div>
	<nav>
		<ul class="pagination">
			<% if @page == 1 or @page == 0 %>
				<li class="disabled"><%= link_to "<<", "#" %></li>
			<% else %>
				<li><%= link_to "<<", monsters_path(page: if @page == 0 then 0 else @page - 1 end) %></li>
			<% end %>
			<% if @more == 1 %>
				<li><%= link_to ">>", monsters_path(page: @page == 0 ? 2 : @page + 1) %></li>
			<% else %>
				<li class="disabled"><%= link_to ">>", "#" %></li>
			<% end %>

		</ul>
	</nav>
</div>
-->