<div class="jumbotron monster">
	<div class="header header-name">
		<h2><%= image_tag(Rails.application.config.img_path_monsters + @monster["image60_href"]	, :border => 0, :title => @monster["id"].to_s + ". " + @monster["name"]) %><%= " " + @monster["name"] %></h2>
	</div>
	<div class="header header-details">
		<div class="panel panel-default left">
			<div class="panel-heading">AS: <%= hash_not_nil(@active_skill,"name") %> <% if @active_skill != nil %>(<%= hash_not_nil(@active_skill,"max_cooldown") %> to <%= hash_not_nil(@active_skill,"min_cooldown") %> turns)<% end %></div>
			<div class="panel-body"><%= hash_not_nil(@active_skill,"effect") %></div>
		</div>
		<div class="panel panel-default right">
			<div class="panel-heading">LS: <%= hash_not_nil(@leader_skill,"name") %></div>
			<div class="panel-body"><%= hash_not_nil(@leader_skill,"effect") %></div>
		</div>
		<div class="panel panel-default left">
			<div class="panel-heading">Awoken Skills</div>
			<div class="panel-body">
				<% @awakenings.each do |a| %>
					<%= image_tag(hash_not_nil(a,"url"), :border => 0, title: (hash_not_nil(a,"name") + "&#13;" + hash_not_nil(a,"desc")).html_safe) %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="right btn-group btn-group-sm" role="group" aria-label="...">
		<button type="button" class="btn btn-default monster-hide" aria-label="Left Align">
			Details
		</button>
	</div>
</div>

<div class="monster_container">
	<div class="monster_list left">
		<div class="panel panel-default">
			<div class="panel-heading">Suggested Subs</div>
				<div class="monster-container panel-body">
					<div class="shown">
						<% if @subs != nil %>
							<% hiddenSubs = 0 %>
							<% @subs.each do |s| %>
								<% score = round?(Monster.find(@monster["id"]).score(s["id"])) %>
								<% if score < 3 and hiddenSubs == 0 %>
									<% hiddenSubs = 1 %>
								<% end %>
								<div class="panel panel-<%= rating_style(score) %> monster <% if hiddenSubs == 1 %>low-score subs<% end %>">
									<div class="center-text panel-heading monster">
										<strong><%= score %></strong>
									</div>
									<div class="panel-body">
										<%= link_to image_tag(Rails.application.config.img_path_monsters + s["image60_href"].to_s, class: "center-image", :border => 0, :title => s["id"].to_s + ". " + s["name"]), detail_monsters_path(leader_id: @monster["id"], sub_id: s["id"]), remote:true %>
									</div>
									<% if user_signed_in? %>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<% if user_voted_default_month(@monster["id"],s["id"]) %><%= fetch_user_vote_by_default_month(@monster["id"], s["id"]).score %><% else %>Vote<% end %>
												<span class="caret"></span>
											</button>
											<ul class="vote dropdown-menu" aria-labelledby="dropdownMenu">
												<% for i in Rails.application.config.vote_rating_max.downto(1) %>
													<li><%= link_to i.to_s, {controller: "votes", action: "create", current_id: @monster["id"], monster_id: s["id"], rating: i, commit: "Sub"}, method: "post" %></li>
												<% end %>
												<li><%=  link_to "-", {controller: "votes", action: "create", current_id: @monster["id"], monster_id: s["id"], rating: 0, commit: "Sub"}, method: "post" %></li>
											</ul>
										</div>
									<% end %>
								</div>
							<% end %>
						<% end %>
					</div>
					<% if hiddenSubs == 1 %>
						<button type="button" class="btn btn-default show-low subs" aria-label="Left Align">Show Hidden</button>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="monster_list right clear-right">
		<div class="panel panel-default">
			<div class="panel-heading">Make a Suggestion</div>
			<div class="panel-body">
				<% if user_signed_in? %>
					<p><img id="lookup" src=""/></p>
					<%= form_for :vote, html: {class: "form-horizontal"}, url: {controller: "votes", action: "create", params: {current_id: @monster["id"]}} do |f| %>
						<div>
							<p><input name="monster_name" id="monster_field" class="vote lookup typeahead form-control" type="text" placeholder="Monster Name"></p>
						</div>
						<div class="vote select col-xs-3">
							<select name="rating" class="vote btn btn-default">
								<option>Rating</option>
								<% for i in Rails.application.config.vote_rating_max.downto(1) %>
									<option><%= i %></option>
								<% end %>
							</select>
						</div>
						<div class="vote col-xs-3">
								<%= f.submit "Sub", id:"Sub", class: "btn btn-default" %>
						</div>
						<div class="vote col-xs-3">
								<%= f.submit "Leader", id:"Leader", class: "btn btn-default"  %>
						</div>
					<% end %>
				<% else %>
					<p>You must be <%= link_to "logged in", new_user_session_path() %> to make a suggestion</p>
				<% end %>
			</div>
		</div>
	</div>

	<div class="monster_list clear-right right">
		<div class="panel panel-default">
			<div class="panel-heading">Voting Guidelines</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
						  <th colspan="2">You may submit a new vote once a month</th>
						</tr>
					</thead>
					<thead>
						<tr>
						  <th>Rating</th>
						  <th>Description</th>
						</tr>
					</thead>
					<tr><td>9</td><td>Great Sub</td></tr>
					<tr><td>7</td><td>Good Sub</td></tr>
					<tr><td>5</td><td>Viable Sub</td></tr>
					<tr><td>3</td><td>Not Recommended</td></tr>
					<tr><td>1</td><td>No Synergy</td></tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="monster_list clear-left left">
		<div class="panel panel-default">
			<div class="panel-heading">Suggested Leaders</div>
			<div class="monster-container panel-body">
				<div class="shown leaders">
					<% if @leaders != nil %>
						<% hiddenLeaders = 0 %>
						<% @leaders.each do |l| %>
							<% score = round?(Monster.find(l["id"]).score(@monster["id"])) %>
							<% if score < 3 and hiddenLeaders == 0 %>
								<% hiddenLeaders = 1 %>
							<% end %>
							<div class="panel panel-<%= rating_style(score) %> monster <% if hiddenLeaders == 1 %>low-score leaders<% end %>">
								<div class="center-text panel-heading monster">
									<strong><%= score %></strong>
								</div>
								<div class="panel-body">
									<%= link_to image_tag(Rails.application.config.img_path_monsters + l["image60_href"].to_s, :border => 0, :title => l["id"].to_s + ". " + l["name"]), detail_monsters_path(leader_id: l["id"], sub_id: @monster["id"]), remote:true %>
								</div>
								<% if user_signed_in? %>
									<div class="dropdown">
										<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											<% if user_voted_default_month(l["id"],@monster["id"]) %><%= fetch_user_vote_by_default_month(l["id"], @monster["id"]).score %><% else %>Vote<% end %>
											<span class="caret"></span>
										</button>
										<ul class="vote dropdown-menu" aria-labelledby="dropdownMenu">
											<% for i in Rails.application.config.vote_rating_max.downto(1) %>
												<li><%= link_to i.to_s, {controller: "votes", action: "create", current_id: @monster["id"], monster_id: l["id"], rating: i, commit: "Leader"}, method: "post" %></li>
											<% end %>
											<li><%= link_to "-", {controller: "votes", action: "create", current_id: @monster["id"], monster_id: l["id"], rating: 0, commit: "Leader"}, method: "post" %></li>
										</ul>
									</div>
								<% end %>
							</div>
						<% end %>
					<% end %>
				</div>
				<% if hiddenLeaders == 1 %>
					<button type="button" class="btn btn-default show-low leaders" aria-label="Left Align">Show Hidden</button>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="vote_details" tabindex="-1" role="dialog" aria-labelledby="vote_details" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h4 class="modal-title"></h4>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

