<div class="news-container">
		<div class="news panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title"><%= @news.title %></h3>
		  </div>
		  <div class="panel-body">
			<%= @news.news.html_safe %>
		  </div>
		  <div style="overflow:hidden"class="panel-footer">
			Footer
		  </div>
		</div>
</div>
<p>
  <strong>User:</strong>
  <%= @news.user.username %>
</p>

<p>
  <strong>Pinned:</strong>
  <%= @news.pinned %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
