<div>
	<div class="panel panel-default monster details">
		<div class="center-text panel-heading monster">
			<strong>Leader</strong>
		</div>
		<div class="panel-body">
			<%= link_to image_tag(@leader_details["image60_href"].to_s, :border => 0, :title => @leader.tooltip), monster_path(@leader.id) %>
		</div>
	</div>
	<div class="panel panel-default monster details">
		<div class="center-text panel-heading monster">
			<strong><% if @type == "ls" then concat "Sub" else concat "Leader" end %></strong>
		</div>
		<div class="panel-body">
			<%= link_to image_tag(@sub_details["image60_href"].to_s, :border => 0, :title => @sub.tooltip), monster_path(@sub.id) %>
		</div>
	</div>
	<div class="panel panel-default monster details summary">
		<div class="center-text panel-heading monster">
			<strong>Details</strong>
		</div>
		<div class="panel-body">
			<table width=100% height=100%>
				<tr>
					<td><span class="badge">Current</span></td>
					<td><span class="label label-<%= rating_style(@score) %>"><%= round?(@score) %> out of <%= Rails.application.config.vote_rating_max %></span><span class="label label-primary"><%= @votes %> votes</span></td>
				</tr>
				<tr>
					<td><span class="badge">All Time</span></td>
					<td><span class="label label-<%= rating_style(@score_all) %>"><%= round?(@score_all) %> out of <%= Rails.application.config.vote_rating_max %></span><span class="label label-primary"><%= @votes_all %> votes</span></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="panel panel-default monster tags details">
		<div class="center-text panel-heading monster tags">
			<strong>Pairing Specific Tags</strong>
		</div>
		<div class="panel-body tags">
			<%= form_tag(monster_tag_pair_path(@leader.id, m2_id: @sub.id, type: @type), method: "get", remote:true ) do %>
				<div>
					<p><select id="tags-modale" style="width:100%;" disabled multiple="true" name="tags[]" class="tags select2">
					<% if @type == "ll" %>
						
						<% if @leader.id <= @sub.id %>
							<% m1 = @leader %>
							<% m2 = @sub %>
						<% else %>
							
							<% m1 = @sub %>
							<% m2 = @leader %>
						<% end %>
					<% else %>
							<% m1 = @leader %>
							<% m2 = @sub %>
					<% end %>
					<% m1.tag_list_on(@type + "_" + m2.id.to_s).each do |t| %>
						<option selected="selected"><%= t %></option>
					<% end %>
					</select></p>
				</div>
				<% if user_signed_in? %>
					<div id="edit-modale" class="tags  button-container col-xs-3">
						<button type="button" id="edit-tags-modale" class="btn btn-default tags" aria-label="Left Align">Edit</button>
					</div>
					<div id="update-modale" class="tags  button-container col-xs-3">
						<%= submit_tag "Update", id:"update-tags-modale", class: "tags btn btn-default" %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<script>
	chart1(<%= @leader.id %>,<%= @sub.id %>,'<%= @type %>',['since','monthly','weighted'],'#chart1','Ratings',1,<%= Rails.application.config.vote_rating_max %>);
	chart1(<%= @leader.id %>,<%= @sub.id %>,'<%= @type %>',['count'],'#chart2','Ratings Count',null,null);
</script>


	<ul class="nav nav-tabs">
	  <li id="statistics" role="presentation" class="active"><a href="#">Statistics</a></li>
	  <li id="comments" role="presentation"><a href="#">Comments ( <%= @comments.count %> )</a></li>
	  <li style="display: none;" id="history" role="presentation"><a href="#">History</a></li>
	</ul>
	<div id="statistics" class="page-tab">
		<div id="chart1" style="width: 900px; height: 300px; margin: 0 auto"></div>
		<div id="chart2" style="width: 900px; height: 300px; margin: 0 auto"></div>
	</div>
	<div id="comments" class="page-tab">
		<% hidden = 0; option = "comment" %>
		<% @comments.each do |c| %>
			<div id="<%= c.id %>" class="panel panel-default comment <% if c.score < Rails.application.config.comment_low_score then hidden = 1; concat "low-score"; end %>">
				<div class="panel-body comment">
					<div class="c-rating comment">
						<% if user_signed_in? then %>
							<% if c.comment != "[deleted]" %>
								<p><%= link_to "", c_ratings_path(comment_id: c.id, score: 1, type: @type), method: :post, title: "Upvote", class: "glyphicon glyphicon-chevron-up" %></p>
								<%= link_to "", c_ratings_path(comment_id: c.id, score: -1, type: @type), method: :post, title: "Downvote", class: "glyphicon glyphicon-chevron-down" %>
							<% end %>
						<% end %>
					</div>
					<div class="comment comments">
						<%= c.comment %>
					</div>
				</div>
				<div class="panel-footer comment" style="overflow:hidden;">
					<span style="float:left"><%= c.user.username + " - 	" + time_ago_in_words(c.created_at) + " ago" %></span>
					<% if c.comment != "[deleted]" and user_signed_in? and (c.user_id == current_user.id or current_user.admin) %>
						<span style="float:right"><%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' } %></span>
					<% end %>
					<span style="float:right">Score: <%= c.score %></span>
				</div>
			</div>
		<% end %>
		<% if hidden == 1 %>
			<div style="padding:0;" class="col-md-2"><p><button type="button" id="<%= option %>" class="btn btn-default show-low" aria-label="Left Align">Show Hidden</button></p></div>
		<% end %>
		<% if user_signed_in? %>
			<%= render partial: 'monsters/show/commentbox' %>
		<% else %>
			<p>You must be <%= link_to "logged in", new_user_session_path() %> to comment</p>
		<% end %>
	</div>
	<div id="history" class="page-tab">
		History
	</div>


<%= render partial: 'monsters/show/modale' %>
<script>
	<% if params[:tab] == "2" %>
		$('div.page-tab').hide();
		$('.nav-tabs li').removeClass("active");
		$('.nav-tabs li#comments').addClass("active");
		$('div#comments.page-tab').show();
	<% else %>
		$('div#comments.page-tab').hide();
		$('div#history.page-tab').hide();
	<% end %>
</script>