<div class="jumbotron monster">
	<div class="header header-name">
		<h2><%= link_to image_tag(@monster.url	, :border => 0, :title => @monster.tooltip, size: '60'), Rails.application.config.pad_db_monster_path + @monster.id.to_s %><%= " " + @monster.name %></h2>
	</div>
	<div class="header header-details col-md-12">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">AS: <%= hash_not_nil(@active_skill,"name") %> <% if @active_skill != nil %>(<%= hash_not_nil(@active_skill,"max_cooldown") %> to <%= hash_not_nil(@active_skill,"min_cooldown") %> turns)<% end %></div>
				<div class="panel-body"><%= hash_not_nil(@active_skill,"effect") %></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Awoken Skills</div>
				<div class="panel-body">
					<% @awakenings.each do |a| %>
						<%= image_tag(hash_not_nil(a,"url"), :border => 0, title: (hash_not_nil(a,"name") + "&#13;" + hash_not_nil(a,"desc")).html_safe) %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">LS: <%= hash_not_nil(@leader_skill,"name") %></div>
				<div class="panel-body"><%= hash_not_nil(@leader_skill,"effect") %></div>
			</div>
		</div>
	</div>
	<div class="right btn-group btn-group-sm" role="group" aria-label="...">
		<button type="button" class="btn btn-default monster-hide" aria-label="Left Align">
			Hide
		</button>
	</div>
</div>