<div class="monster-list">
	<div class="panel panel-default section">
		<div class="panel-heading">Make a Suggestion</div>
		<div class="panel-body">
			<% if user_signed_in? %>
				<p><img id="lookup" src=""/></p>
				<%= form_for :vote, html: {class: "form-horizontal"},url:{controller: "votes", action: "create", params: {current_id: @monster.id}} do |f| %>
					<div>
						<p><input name="monster_name" id="monster-field" class="monster vote lookup typeahead form-control" type="text" placeholder="Monster Name"></p>
					</div>
					<div class="vote select col-xs-3">
						<select name="rating" class="vote btn btn-default">
							<option>Rate</option>
							<% for i in Rails.application.config.vote_rating_max.downto(1) %>
								<option><%= i %></option>
							<% end %>
						</select>
					</div>
					<div class="vote col-md-3">
							<%= f.submit "Sub", id:"Sub", class: "btn btn-default" %>
					</div>
					<!-- <div class="vote col-md-3">
							<% #f.submit "Leader", id:"Leader", class: "btn btn-default"  %>
					</div> -->
					<div class="vote col-md-5">
							<%= f.submit "Leader/Leader", id:"Leader", class: "btn btn-default" %>
					</div>
				<% end %>
				
			<% else %>
				<p>You must be <%= link_to "logged in", new_user_session_path() %> to make a suggestion</p>
			<% end %>
		</div>
	</div>
</div>