<div class="monster-list" style="display:block;">
	<div class="panel panel-default">
		<div class="panel-heading">
			<%
			case option
				when "sub"
					concat "Suggested Subs"
				when "leader"
					concat "Ratings as Sub"
				when "ll"
					concat "Leader/Leader Pairing"
			end
			%>
			
		</div>
		<div class="monster-container panel-body">
			<div class="shown">
				<% if sugg != nil %>
					<% hidden = 0 %>
					<% sugg.each do |s| %>
						<%
							case option
								when "sub"
									m1_id = @monster.id
									m2_id = s.id
									controller = "votes"
									type = "ls"
								when "leader"
									m1_id = s.id
									m2_id = @monster.id
									controller = "votes"
									type = "ls"
								when "ll"
									m1_id = @monster.id
									m2_id = s.id
									controller = "vote_lls"
									type = "ll"
							end

							if s.avg < Rails.application.config.vote_low_score and hidden == 0
								hidden = 1
							end
						%>
						<div class="panel panel-<%= rating_style(s.avg) %> monster <% if hidden == 1 %>low-score <%= option %><% end %>">
							<div class="center-text panel-heading monster">
								<strong><%= link_to (s.avg.to_s + " <span style=""font-weight:normal;"">(" + s.avg_count.to_s + ")</span>").html_safe, detail_monsters_path(leader_id: m1_id, sub_id: m2_id, type: type), remote:true %></strong>
							</div>
							<div class="panel-body">
								<%= link_to image_tag(s.url.to_s, class: "center-image", :border => 0, :title => detailed_tooltip(s.id, @monster.id, option), :alt => monster.name), monster_path(s.id) %>
							</div>
							<% if user_signed_in? %>
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										<% if s.user_score != nil then %><%= s.user_score %><% else %>Vote<% end %>
										<span class="caret"></span>
									</button>
									<ul class="vote dropdown-menu" aria-labelledby="dropdownMenu">
										<% for i in Rails.application.config.vote_rating_max.downto(1) %>
											<li><%= link_to i.to_s, {controller: controller, action: "create", current_id: monster.id, monster_id: s.id, rating: i, commit: option}, method: "post" %></li>
										<% end %>
										<% if s.user_score != nil %>
											<li><%= link_to "-", {controller: controller, action: "create", current_id: monster.id, monster_id: s.id, rating: 0, commit: option}, method: "post" %></li>
										<% end %>
									</ul>
								</div>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</div>
			<% if hidden == 1 %>
				<button type="button" id="<%= option %>" class="btn btn-default show-low" aria-label="Left Align">Show Hidden</button>
			<% end %>
		</div>
	</div>
</div>