<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="PaD Rater  ECommunity driven Puzzle and Dragons site that allows YOU to vote for what you think are the best subs for each leader" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, maximum-scale=1" />
  <meta property="og:description" content="PaD Rater  ECommunity driven Puzzle and Dragons site that allows YOU to vote for what you think are the best subs for each leader" />
  <meta property="og:site_name" content="PaD Rater" />
  <meta property="og:url" content="http://pad-rater.com" />
  <meta property="og:locale" content="en_us" />
  <meta property="og:title" content="PaD Rater" />
  <meta name="twitter:url" content="http://pad-rater.com" />
  <meta name="twitter:title" content="PaD Rater" />
  <meta name="twitter:card" content="summary" />
  <title>PAD Rater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if Rails.env == "production" %>
	  <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-74420805-1', 'auto');
		  ga('send', 'pageview');
	  </script>
  <% end %>
</head>


<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#searchbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">PAD Rater</a>
			</div>
			
			<div class="navbar-collapse collapse" id="searchbar">
     			<div class="nav navbar-nav navbar-header">

								<li><%= link_to "News", news_index_path %></li>
								<li><%= link_to "Search Tags", tags_monsters_path %></li>
								<li><%= link_to "Summary", monsters_path %></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Votes<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><%= link_to "Vote Activity", statistics_votes_path %></li>
										<% if user_signed_in? %>
											<li><%= link_to "My Votes", votes_path %></li>
										<% end %>
									</ul>
								</li>
								
								

				</div>
				
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Edit Profile", edit_user_registration_path, :class => 'navbar-link' %></li>
								<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
								<% if current_user.admin %>
									<li role="separator" class="divider"></li>		
									<li><%= link_to "Create News", new_news_path, :class => 'navbar-link' %></li>
								<% end %>

							</ul>
						</li>
					<% else %>
						<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
						<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
					<% end %>	
				</ul>

				<form class="navbar-form">
					<div class="form-group" style="display:inline;">
						<div class="input-group" style="display:table;">
							<span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
							<input id="monster-field" class="form-control monster typeahead main" placeholder="Monster Name" autofocus="autofocus" type="text">
						</div>
					</div>
				</form>

			</div><!--/.nav-collapse -->
			
			

			</div>
		</div>
	</nav>

	<div class="container">
		<div class="content col-xs-12 center">
					<% if notice %>
						<div class="alert alert-info" role="alert"><%= notice %></div>
					<% end %>
					<% if alert %>
						<div class="alert alert-danger" role="alert"><%= alert %></div>
					<% end %>
					<% if Rails.env == "production" %>
						<div class="center-text adsense">
							<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- Responsive -->
							<ins class="adsbygoogle"
								 style="display:block"
								 data-ad-client="ca-pub-8628705049633228"
								 data-ad-slot="1103989199"
								 data-ad-format="auto"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					<% end %>
					<%= yield %>
					<div class="center-text adsense">

					</div>
					<div class="push"></div>
		</div>
    </div><!-- /.container -->
	<footer class="navbar-inverse footer">
		<span style="float:left;">
			<form  class="navbar-form" style="padding-top:3px;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<div class="form-group" style="display:inline;">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="NVHR4XJXDP3TJ">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				</div>
			</form>
		</span>
		<span style="float:right;" class="navbar-text">All Puzzle and Dragons images are registered trademarks or trademarks of <a href="http://www.gunghoonline.com/games/puzzle-dragons/">GungHo Online Entertainment, Inc</a></span>
	</footer>

</body>
</html>
