<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="PaD Team Builder – Community driven Puzzle and Dragons site that allows YOU to vote for what you think are the best subs for each leader" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0" />
  <meta property="og:description" content="PaD Team Builder – Community driven Puzzle and Dragons site that allows YOU to vote for what you think are the best subs for each leader" />
  <meta property="og:site_name" content="PaD Team Builder" />
  <meta property="og:url" content="http://cpx.asuscomm.com:3000/" />
  <meta property="og:locale" content="en_us" />
  <meta property="og:title" content="PaD Team Builder" />
  <meta name="twitter:url" content="http://cpx.asuscomm.com:3000/" />
  <meta name="twitter:title" content="PaD Team Builder" />
  <meta name="twitter:card" content="summary" />
  <title>PADTeamBuilder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">PaD Team Builder</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><%= link_to "Home", monsters_path %></li>
					<li><%= link_to "User Activity", statistics_votes_path %></li>
					<% if user_signed_in? %>
						<li><%= link_to "My Votes", votes_path %></li>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li><p class="navbar-text"><strong><%= current_user.username%></strong></p</li>
						<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
						<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
					<% else %>
						<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
						<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
					<% end %>
				</ul>
				<div class="navbar-form navbar-right">
					<div class="form-group" style="width:400px;">
						<input id="monster-field" class="monster form-control typeahead main" placeholder="Monster Name" autofocus="autofocus" type="text">
					</div>
				</div>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="content center">
					<% if notice %>
						<div class="alert alert-info" role="alert"><%= notice %></div>
					<% end %>
					<% if alert %>
						<div class="alert alert-danger" role="alert"><%= alert %></div>
					<% end %>
					<%= yield %>
		</div>
		<div class="navbar navbar-fixed-bottom custom-footer navbar-inverse">
			<ul class="navbar navbar-nav navbar-right">
				<p class="navbar-text">All Puzzle and Dragons images are registered trademarks or trademarks of <a href="http://www.gunghoonline.com/games/puzzle-dragons/">GungHo Online Entertainment, Inc</a></p>
			</ul>
		</div>	

    </div><!-- /.container -->
</body>

</html>